{{ $.Scratch.Set "name" "Welcome" }}
{{ $.Scratch.Set "url" "/" }}
{{ if (findRE "^week" .Dir) }}
{{ $.Scratch.Set "name" (print "Week " (index (findRE "[0-9]+" .Section) 0)) }}
{{ $.Scratch.Set "url" (print "/" .Section) }}
{{ end }}
<!DOCTYPE html>
<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130264224-1 "></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-130264224-1 ');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href={{ "/css/main.css"  | relURL }}>
</head>

<body>
    <div class="container-fluid p-0">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="/"><h1>{{ .Site.Title }}<sup>*</sup></h1></a>
                <p>University of Copenhagen<br>Spring 2019</p>
                <button class="navbar-toggle transparent" data-toggle="collapse" href="#collapser" role="button" aria-expanded="false" aria-controls="collapser">

                    <span class="fas fa-bars text-white"></span> <!-- using a <span> element to reference the icon -->
                    </button>
            </div>
            <div id="collapser" class="collapse h-100">
            <div class="btn-group dropright">
                    <a class="btn btn-sm btn-outline-light"
                        role="button" href="{{$.Scratch.Get "url"}}" >{{$.Scratch.Get "name"}}</a>
                    <button aria-expanded="true" aria-haspopup="true" class="btn btn-sm btn-outline-light dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" type="button">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" x-placement="top-start">
                        {{ range .Site.Sections.Reverse }}
                        {{ if (findRE "^week" .Dir)}}
                        <a class="dropdown-item" href="{{ print "/" (replace .Dir "\\" "/") }}">{{print "Week " (index (findRE "[0-9]+" .Dir) 0)}}</a>
                        {{ end }}
                        {{ end }}
                        <a class="dropdown-item" href="/">Welcome</a>
                    </div>
                </div>
                <hr>
                {{ range .Site.Menus }}
            <ul>
                {{ range . }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            <hr>
            {{ end }}
            <div class="copyright mt-auto" style="color: rgba(255, 255, 255, 0.5);">
                    <p>made by <a href="https://dk.linkedin.com/in/jakobjulelben">Jakob Jul Elben</a></p>
                </div>
            </div>
        </nav>
        <div class="content-container">
            <div class="content">
