{{ $scratch := newScratch }}
{{ partial "header.html" . }}
    <h1 class="header">{{ .Title }}</h1>
    <hr>

    <div class="main-content">
        {{ .Content }}
        <hr>

        {{ range $cell := (getJSON .Params.ipynb_url).cells }}
            {{ if eq $cell.cell_type "markdown" }}
                {{ $scratch.Set "output" "" }}
                {{ $scratch.Set "math" false }}
                {{ range $cell_line := $cell.source }}
                    {{ if (findRE "\\$\\$" $cell_line) }}
                        {{ if ($scratch.Get "math" )}}
                            {{ $scratch.Set "math" false }}
                            {{ $scratch.Add "output" ( print $cell_line "</div>") }}
                        {{ else }}
                            {{ $scratch.Set "math" true }}
                            {{ $scratch.Add "output" ( print "<div>" $cell_line) }}
                        {{ end }}
                    {{ else }}
                        {{ $scratch.Add "output" $cell_line }}
                    {{ end }}
                {{ end }}
                <div>
                {{ $scratch.Get "output" | markdownify }}
                </div>
            {{ else if (eq $cell.cell_type "code") }}
                {{ $scratch.Set "output" "" }}
                {{ range $cell_line := $cell.source }}
                    {{ $scratch.Add "output" (print $cell_line) }}
                {{ end }}
                {{ highlight ($scratch.Get "output") "python" "linenos=table" }}
            {{ end }}
        {{ end }}

    </div>
{{ partial "footer.html" . }}