.content-container {
    .content {
        padding: 2rem 3rem 3rem 5rem;
        width: 100%;
        .highlight {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
        }
        .highlight div {
            padding: 1rem 1rem 1rem 1rem;
        }
    }
}

@media (min-height: 588px) and (min-width: 1198px) {
    .content-container {
        padding-left: 25rem;
    }
}

@media (min-height: 588px) and (min-width: 1198px) {
    .highlight {
        width: 80%;
    }
    .content-container {
        .content {
            width: calc(100vw - 28rem);
            max-width: 30cm;
        }
    }
}

.transparent {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-weight: 100;

}