#sidebar {
    color: white;
    padding-left: 0;
    font-size: 1.8rem;
    .sidebar-header {
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
        p {
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.5rem;
        }
        h1 {
            font-size: 3.2rem;
            font-weight: bold;
            font-family: "VT323";
            text-transform: uppercase;
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
    a.btn {
        font-size: 1.3rem;
    }
    .btn-group {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .btn-group a.dropdown-item {
        font-size: 1.3rem;
        color: #901A1E;
    }
    ul {
        list-style: none;
        padding-left: 1rem;
    }
    .copyright {
        max-height: 50%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
    }
}

#sidebar {
    background-color: #901A1E;
    padding: 1rem 2rem;
}

.collapse-default {
    display: none;
}

@media (min-height: 588px) and (min-width: 1198px) {
    .collapse {
        display: flex!important;
        flex-direction: column;
    }
    #sidebar {
        position: fixed;
        height: 100vh;
        min-width: 25rem;
        max-width: 25rem;
        .sidebar-header {
            text-align: left;
        }
    }
}

.navbar-toggle {
    line-height: 1cm;
}
